.App {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.App li {
  line-height: 1.75;
}

.App ul.nav {
  list-style-type: none;
}

.App code {
  font-family: 'Courier New', Courier, monospace;
  color: #000;
  font-weight: 600;
}

.App ul.nav li {
  display: inline;
}

.App ul.nav li::after {
  content: " | ";
}

.App ul.nav li:last-child::after {
  content: "";
}



